
.foreground {
    -fx-background-color : transparent;
}

.jfx-progress-bar:determinate .bar
{
    -fx-background-color : darkslateblue;
}

.jfx-progress-bar:determinate .track {
  -fx-background-color : transparent;
}


.block
{
    -fx-background-color: linear-gradient(to top,   derive(#02796b, 50%) , derive(#73e57b, 50%)) ;
    -fx-shape : "M 50 100 L 50 500 L 400 500 L 250 100 L 50 100 ";
}
